{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" >
  <img src="{{i.img.url}}" class="card-img-top" alt="..." style="height:250px;"><br>

  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text"></p>
    <a  href="{% url 'fapp:detail' i.id %}" class="btn btn-success">Go somewhere</a>

  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}